html{
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
.title{
  width: 100% !important;
  text-align: center;
  margin-bottom: 40px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1em 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo{
  font-size: 2rem;
  font-weight: 700;
}
.navbtn{
  display: inline;
  float: right;
}
.navbtn a{
  text-decoration: none;
  margin: 0 0.5em;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.active-nav{
  background-color:#fd4766 ;
  padding: .25rem .5rem;
  color: white !important;
  border-radius: 5px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em 2em;

}

.intro{
  max-width: 500px;
  flex: 60%;
}
.bitmoji{
  background: linear-gradient(90deg, rgba(253,71,102,1) 0%, rgba(255,121,21,1) 100%);
  border-radius: 50%;
  overflow: hidden;
  max-width: 400px;
  flex: 40%;
}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;

}
.content h1 span{
  font-size: 60px;
    color: #fd4766;
}

.content p{
    font-size: 30px;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}

.intro .fa-brands {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .intro .fa-brands:hover {
      opacity: 0.7;
  }
  
  .fa-facebook-f {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
.about{
  background-color: #fd4766;
  margin: 20px 0 0 0;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  max-height: 40em;
  border-radius: 2em;
  width: 100%;
}
.about h1{
  color: #ffffff;
  text-align: center;
  width: 100%;
}
.about p{
  color: #ffffff;
  text-align: justify;
  flex: 75%;
}
.myimg{
  flex: 15%;
  overflow: hidden;
  margin: 1em 0em 0em 2em ;
  display: flex;
  align-items: center;
}
.myimg img{
  border: 5px solid #ffffff;
  width: 100%;
  background-color: white;
  border-radius: 2em;
}
.education{
  margin: 0 0 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fd4766;
  border-radius: 2em;
  padding: 50px;
}
.education h1{
  color: #ffffff;
}
.edudetails{
  margin: 2em 0 0 0;
  width: 32%;
  border-radius: 2em;
  border: 2px solid #ffffff;
  padding: 1em;
  color: #ffffff;
  
}

.edudetails span{
  float: right;
  font-weight: 100;
  font-size: medium;
  color:#ffffff;
}
.edudetails ul{
  margin: 1em 1em 1em 2em;
  line-height: 2;
  font-size: large;
  font-weight: 500;
}
.skills{
  margin: 20px 0 0 0;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  max-height: 40em;
  width: 100%;
}
.skills h1{
  color: #306998;
}
.skills span{
  width: 100%;
  display: flex;
  justify-content: center;
}
.skills .fa-brands,.fa{
  color: #306998;
  font-size: 3em;
  border: 2px solid #ffffff;
  border-radius: 2em;
  padding: 20px;
  margin: 40px 20px;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 20px;
}
.projects h1{
  color: #306998;
}
.projectitem{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 24%;
  padding: 20px;
}
.projectitem p{
  height: 65px;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectitem img{
  width: 100%;
  height: 60%;
  border-radius: 4em;
}
.projectitem a{
  text-decoration: none;
  color: #ffffff;
  background-color: #007bb5;
  font-size: 1em ;
  padding: 5px;
  width: 49%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

  footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
  }

  @media (max-width: 1300px) {
    .skills .fa-brands,.fa{
      font-size: 2.4em;
      margin: 40px 0px;
    }

  }
  